<h2>My Heroes</h2>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
<ul class="heroes">
  <!-- <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li> -->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <!-- The binding conveys information about the event.
    This information can include data values such as an event object, string, or number named $event. -->
    <!-- If the target event is a native DOM element event,
    then $event is a DOM event object, with properties such as target and target.value. -->
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>

<!-- Pass selectedHero into child component [hero]="selectedHero"-->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->